/* li{
    color: red;
} */



/* ul li{
    color: red;
} */

/* class selector */
/* .red{
    color: red;
} */

/* .redColor{
    color: red;
} */

/* id selector */
/* #redColor li{
    color: red;
} */

/* grouping selector */
/* #redColor li, h2{
    color: red;
} */

/* Child combinator  ( > ) */
/* Descendant combinator (space) */
/* direct child  */
/* .top > h1{
    color: purple;
}

.top > ul > h1{
    border: 2px solid;
}

.top > ul > h1{
    border: 2px solid;
} */

/* sibling combinator (+) */
/* subsequent-sibling combinator (~) */
/* h1 + p{
    color: red;
}

h1 ~ p{
    color: purple;
} */