.box{
    /* border-width: 2px;
    border-style: solid;
    border-color: black; */

    border: 3px solid black;
}

/* MARGIN: space between 2 elements / space between border of 2 elements
PADDING: space between an element's content & its border */


#b2{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}