*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    border: 2px solid;
    width: 30vw;
    padding: 0.5rem;
    /* height: 300px; */
    overflow: auto;
}

body{
    /* conic gradient  */
    /* to top,to bottom,to top right,to right,to left  */
    /* background: linear-gradient(to top,red,green) */
    background: linear-gradient(to right,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.9))
}
