*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    border: 2px solid;
    padding: 0.5rem;
    width: 50vw;
    height: 300px;
    /* overflow: visible; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    overflow: auto;
}